# Godot 4+ specific ignores
.godot/
/android/
/exports/
bin/
PROJECT_OVERVIEW.md

# VS Code specific ignores  
.vscode/
.VSCodeCounter
*.tmp
docs/**/*.import
docs/**/*.uid

# Jetbrain IDE specific ignores
.idea/
.DS_Store
.atomcode/


skills/konado-script/language-configuration.json
skills/konado-script/package.json
skills/konado-script/syntaxes/