# Godot 4+ specific ignores
.godot/
/android/
/exports/
bin/
PROJECT_OVERVIEW.md

# VS Code specific ignores
.vscode/
.VSCodeCounter
*.tmp
docs/**/*.import
docs/**/*.uid

# Jetbrain IDE specific ignores
.idea/
